<h1>Hangman</h1>
<nav>
  <a href="https://ryanmontville.github.io/">Ryan Montville</a>
  <a (click)="startNewGame()" style="cursor: pointer;">Start New Game</a>
  <a href="https://github.com/RyanMontville/Hangman">View the GitHub Repo</a>
</nav>
<div id="word-select" *ngIf="word.length<1">
  <div class="wrapper" *ngIf="!loading">
    <h3>Get a random word from <a href="http://random-word-api.herokuapp.com/">random-word-api.herokuapp.com</a> with</h3>
  <section class="button-group">
    <button (click)="getWord()" class="btn size-30">Random Length</button>
    <button (click)="getWordLengthN(3)" class="btn size-30">3 Letters</button>
    <button (click)="getWordLengthN(4)" class="btn size-30">4 Letters</button>
    <button (click)="getWordLengthN(5)" class="btn size-30">5 Letters</button>
    <button (click)="getWordLengthN(6)" class="btn size-30">6 Letters</button>
    <button (click)="getWordLengthN(7)" class="btn size-30">7 Letters</button>
    <button (click)="getWordLengthN(8)" class="btn size-30">8 Letters</button>
    <button (click)="getWordLengthN(9)" class="btn size-30">9 Letters</button>
    <button (click)="getWordLengthN(10)" class="btn size-30">10 Letters</button>
  </section>
  <h3>Get a random word from a category</h3>
  <section class="button-group">
    <button (click)="getWordFromCategory('animal')" class="btn size-30">Animals</button>
    <button (click)="getWordFromCategory('food')" class="btn size-30">Food</button>
    <button (click)="getWordFromCategory('dinos')" class="btn size-30">Dinosaurs</button>
    <button (click)="getWordFromCategory('states')" class="btn size-30">U.S. States</button>
  </section>
</div>
<div class="loading wrapper" *ngIf="loading">
  <div class="lds-dual-ring" style="margin: 0 auto"></div>
</div>
  
</div>
<main>
  <app-gallows></app-gallows>
  <app-keyboard></app-keyboard>
  <button *ngIf="gameOver" (click)="startNewGame()" class="btn size-30 btn-green" style="display:block; width:170px;margin: 10px auto;">New Game</button>
</main>
