#word-select {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: var(--body-background);
    padding-top: 110px;
}

#word-select .wrapper {
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--main-background);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.loading.wrapper {
    display: flex;
    justify-content: center;
}

/**************** Loading Animation **************************/
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #b81f24;
    border-color: #b81f24 transparent #b81f24 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /***************************** media breakpoints ***********************/
@media only screen and (max-width: 1015px) and (min-width: 870px){
    .extra-nav-text {
        display: none;
    }
}
@media (max-width: 870px) {
    .menu {
        display: none;
        position: absolute;
        background-color: grey;
        top: 85px;
        right: 10px;
        left: 10px;
        text-align: center;
        padding: 16px 0;
        border-radius: 10px;
        z-index: 5;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
    .logo,
.logo a {
    font-size: 20px;
}
}