h1 {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 50px;
    font-weight: 900;
    color: #b81f24;
}
nav {
    background-color: #b81f24;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
main {
    max-width: 900px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}