<div class="gallows">
    @for (char of gallows.getLineOne(); track char) {
        <span  [ngClass]="isW(char)">{{char}}</span>
    }
  </div>
  <div class="gallows">
    @for (char of gallows.getLineTwo(); track char) {
        <span [ngClass]="isW(char)">{{char}}</span>
    }
  </div>
  <div class="gallows">
    @for (char of gallows.getLineThree(); track char) {
        <span [ngClass]="isW(char)">{{char}}</span>
    }
  </div>
  <div class="gallows">
    @for (char of gallows.getLineFour(); track char) {
        <span [ngClass]="isW(char)">{{char}}</span>
    }
  </div>
  <div class="gallows">
    @for (char of gallows.getLineFive(); track char) {
        <span [ngClass]="isW(char)">{{char}}</span>
    }
  </div>
  <div class="gallows">
    @for (char of gallows.getLineSix(); track char) {
        <span [ngClass]="isW(char)">{{char}}</span>
    }
  </div>
  <p>Your word to guess:
    @for (letter of lettersToGuess; track letter) {
        <span>{{letter}}</span>
    }
  </p>
  <p>Wrong guesses:
    @for (letter of wrongGuesses; track letter) {
        <span>{{letter}}</span>
    }
  </p>